.section-block--about h2 {
  color: $green;
  font-size: 34px;
  font-weight: 600;
  line-height: 150%;
  background: none;
}
.section-block--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 85px;
}

.section-block__text--about {
  font-size: 20px;
  text-align: center;
  padding-left: 115px;
  padding-right: 115px;
}
@media screen and (max-width: $tablet) {
  .section-block--about h2 {
    font-size: 20px;
  }

  .section-block__text--about {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
  }
  .section-block--about {
    margin-bottom: 40px;
  }
}
