body {
  background: black;
}
// html {
// }

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
// .responsive {
//   // width: 100%;
//   // height: auto;
//   max-width: 100%;
//   max-height: 100%;
//   object-fit: cover;
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: #3c3c3a;
  cursor: default;
}

.text-center {
  text-align: center;
}

@import "variables-breakpoints";

@media screen and (max-width: $tablet) {
}

@media screen and (max-width: $mobile) {
}
