footer {
  background: $black-ground;
}
.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer-nav .nav__item {
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.footer-nav .nav__link {
  color: $white;
  white-space: nowrap;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 20px;
    left: 0;
    background: $white;

    transition: all 0.3s ease;
  }
  &:hover {
    cursor: pointer;
    color: $green;
    transition: all color 0.3s ease;
    &::before {
      cursor: pointer;
      width: 100%;
      height: 2px;
    }
  }
}
.nav__text {
  text-transform: uppercase;
}
.footer-logo {
  margin-right: 80px;
}
.footer-logo img {
  transition: all 0.3s;
}
.footer-logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.footer-insta {
  margin-left: 30px;
  margin-right: 85px;
}
.footer-insta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.footer-insta > a {
  margin-bottom: 5px;
}
.footer-duty {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-right: 55px;
}

.duty__time {
  margin-bottom: 5px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.phone__icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 5px;
  mask-image: url(/src/assets/static/img/icon-phone.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: $green;
}
.phone__number {
  margin-right: 10px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 2px -2px 20px rgba($color: $green, $alpha: 0.8);
  }
}
.position {
  display: flex;
  align-items: center;
}
.position__icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 5px;
  mask-image: url(/src/assets/static/img/position.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: $green;
}
.footer-messenger {
  margin-left: 30px;
}
.messenger {
  display: flex;
  align-items: center;
}
.messenger__icon img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.messenger__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: $tablet) {
  .footer-nav {
    display: none;
  }
  .footer-duty,
  .footer-contacts {
    display: none;
  }
  .footer-insta {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-logo {
    margin-right: 35px;
  }
  .footer {
    padding-top: 35px;
    padding-bottom: 45px;
  }
}
