.header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  padding: 35px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-right: 25px;
  position: relative;
}
.nav__link {
  color: $white;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 20px;
    left: 0;
    background: $white;
    transition: all 0.3s ease;
  }
  &:hover {
    cursor: pointer;
    color: $green;
    transition: all color 0.3s ease;
    &::before {
      cursor: pointer;
      width: 100%;
      height: 2px;
    }
  }
}
.nav__text {
  text-transform: uppercase;
}
.logo img {
  transition: all 0.3s;
}
.logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.duty {
  display: flex;
  flex-direction: column;
}

.duty__time {
  margin-bottom: 5px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.phone__icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 5px;
  mask-image: url(/src/assets/static/img/icon-phone.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: $green;
}
.phone__number {
  margin-right: 10px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 2px -2px 20px rgba($color: $green, $alpha: 0.8);
  }
}
.position {
  display: flex;
  align-items: center;
}
.position__icon {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 5px;
  mask-image: url(/src/assets/static/img/position.svg);
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: $green;
}
.header-messenger {
  margin-left: 30px;
}
.messenger {
  display: flex;
  align-items: center;
}
.messenger__icon img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.messenger__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: $tablet) {
  .nav.caption {
    display: none;
  }
  .header-item.duty.caption {
    display: none;
  }
  .header-item.contacts.caption {
    display: none;
  }
}
