.main {
  margin-top: 30px;
  margin-bottom: 60px;
}
.creating-video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.creating-video__items {
  padding: 40px 100px 0 40px;
}
.item__title {
  margin-bottom: 20px;
}
.item__title h1 {
  color: $green;
  & span {
    color: $black-text;
    background: $green;
  }
}
.item__text {
  background-color: $black-ground;
  margin: 25px -100px 25px -40px;
  p {
    padding: 25px 100px 25px 40px;
  }
}
.gift {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift__img {
  margin-right: 20px;
}
.gift__text h2 {
  font-weight: 500;
  & span {
    color: $green;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 130%;
  }
}

.btn-request.main {
  color: $white;
  background-color: $black-text;
  font-family: Montserrat;
  font-style: 500;
  font-size: 18px;
  border: 2px solid $green;
  line-height: 150%;
  border-radius: 15px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  &:hover {
    cursor: pointer;
    background-color: $black-ground;
    color: $green;
    border: 2px solid $white;
  }
}

.vidbox {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}
#video {
  width: 100%;
  object-fit: cover;
}
#playbutton {
  position: absolute;
  cursor: pointer;
  mask-image: url(/src/assets/static/img/player.svg);
  mask-position: center center;
  background-color: $white;
  mask-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#playbutton.playing {
  visibility: hidden;
}

@media screen and (max-width: $tablet) {
  .section-content {
    grid-template-columns: 1fr;
  }
  .section__items {
    padding: 12px 12px 12px 12px;
  }
  .gift {
    flex-direction: column;
  }
}
