$black-text: #131313;
$white: #fff;
$green: #a9d7c2;
$btn-ground: #d1d1d1;
$black-ground: #242424;
$gray-border: #d0d0d0;

$mobile: "899px";
$tablet: "1199px";
$desktop: "1539px";
$big-desktop: "1919px";
