.benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  margin: 45px;
}
.benefits-item {
  display: flex;
  align-items: center;
}
.benefits-icon {
  width: 131px;
  height: 125px;
  flex-shrink: 0;

  .icon-img {
    width: 100%;
    height: 100%;
    mask-image: url(/src/assets/static/img/benefits_1.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    background-color: $white;
    object-fit: cover;

    &-2nd {
      mask-image: url(/src/assets/static/img/benefits_2.svg);
    }
    &-3rd {
      mask-image: url(/src/assets/static/img/benefits_3.svg);
    }
    &-4th {
      mask-image: url(/src/assets/static/img/benefits_4.svg);
    }
    &-5th {
      mask-image: url(/src/assets/static/img/benefits_5.svg);
    }
    &-6th {
      mask-image: url(/src/assets/static/img/benefits_6.svg);
    }
    &-7th {
      mask-image: url(/src/assets/static/img/benefits_7.svg);
    }
    &-8th {
      mask-image: url(/src/assets/static/img/benefits_8.svg);
    }
  }
}
.protfolio-content {
  display: flex;
  justify-content: space-between;
  background-color: $black-ground;
  border-radius: 0 0 10px 10px;
}
.content-item {
  width: 77%;
  h2 {
    margin-top: 50px;
    text-align: center;
    border-radius: 0;
    margin-bottom: 40px;
    margin-left: -70px;
  }
}
.content-item {
  padding-left: 70px;
  .caption-regular {
    line-height: 150%;
    margin-bottom: 40px;
  }
  .btn-request:hover {
    cursor: pointer;
    font-size: 16px;
  }
}
.content-pic {
  width: 585px;
  height: 330px;
  margin-left: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: $tablet) {
}
