.section-container--multi {
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 60px;
}
.card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.card h2 {
  padding: 10px 0px 10px 25px;
  background-color: $green;
  border-radius: 10px 10px 0 0;
  color: $black-text;
}
.card h3 {
  padding: 10px 0px 10px 25px;
}
.card__items-img {
  padding: 25px;
  background-color: $black-ground;
}
.card__items-text {
  padding: 25px;
}

@media screen and (max-width: $tablet) {
  .section-container--multi {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  .card__items-img {
    padding: 12px;
  }
  .card__items-text {
    padding: 12px;
  }
}
