.section-wrapper--along {
  border-radius: 10px;
}

@media screen and (max-width: $tablet) {
  .container__block--along {
    margin: 0 auto;
    padding-left: 0;
    h2 {
      text-align: center;
      border-radius: 0;
      margin-bottom: 20px;

      padding-left: 2px;
      white-space: nowrap;
      text-transform: uppercase;
      margin-top: 25px;
    }
  }
}
